<!DOCTYPE html>
<html>
<head>
  <title>eduKazoo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <ul class="nav nav-tabs">
      <li><%= link_to "EduKazoo", root_path %></li>
      <% if current_user %>
        <li><%= link_to "Active Groups", groups_path %></li>
        <li><%= link_to "New Group", new_group_path %></li>
        <li><input style="margin-top:8px" placeholder="Find groups"><span ><button style="margin-bottom:2px;padding:3px"class="btn btn-default btn-xs">Go!</button></span></li>
      <% end %>

      <div class="pull-right user-info">
        <% if current_user %>
          <%= image_tag(current_user.avatar) if current_user.avatar? %>
          Hello, <%= link_to (current_user.name || current_user.email), current_user %>!
          <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
            <span><%= fa_icon "user" %></span>
          <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
              <span><%= fa_icon "sign-out" %></span>
            <% end %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %> or
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
      </div>
    </ul>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>

      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>

